.carrousel-title {
  font-weight: 900;
  font-size: clamp(1.5rem, 4vw, 4rem);
}

.carrousel-right-button {
  top: 50%;
  left: 0%;
  transform: translateX(50%) translateY(-50%);
}

.carrousel-left-button {
  top: 50%;
  right: 0%;
  transform: translateX(-50%) translateY(-50%);
}

.carrousel-selected {
  right: 50%;
  bottom: 0%;
  transform: translateX(50%);
}