.login-box {
  background-color: var(--coal-black); 
  color: var(--off-white);
  box-shadow: 0 0 12px var(--warning-yellow);
  padding: var(--distance-2);
  border-radius: var(--radius-1);
  position: absolute;
  right: 0;
  top: 100%; 
  z-index: 10;
  width: max-content;
  min-width: 280px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.login-box.hidden {
  opacity: 0;
  transform: translateY(-10px);
}

.login-box form {
  width: 100%;
}