.header{
    display: flex;
    align-items: center;
    width: 100px;
} 
ul{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}