.app-section {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: black;
  grid-template-columns: 30% 70%;
  grid-template-rows: 50% 50%;
  gap: 6px;
}

.tabs {
  grid-column: 1;
  grid-row: 1;
}

.content {
  grid-column: 1;
  grid-row: 2;
}

.response {
  grid-column: 2;
  grid-row: 1 / span 2;
}

.endpoint-div,
.response-div,
.content-div {
  background-color: antiquewhite;
  padding: 1rem;
}

.endpoint-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.endpoint-text {
  word-wrap: break-word;
}

.endpoint {
  cursor: pointer;
  font-size: 1rem;
}

.method {
  padding: .5rem;
  width: fit-content;
  height: fit-content;
  background-color: green;
  border-radius: 8px;
}

.response-div {
  height: 100dvh;
  overflow-y: scroll;
}

.response-json {
  width: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.cat-form{
  display: flex;
  flex-direction: column;
}